apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: ashif579/fastapi:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        # Internal cluster communication: FastAPI calls Node directly via Service name
        - name: NODE_SERVICE_URL
          value: "http://nodebackend-service:3001"
        - name: FRONTEND_URL
          value: "http://localhost"
        - name: REDIS_HOST
          value: "redis-service"
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  selector:
    app: fastapi
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
